@import '../index.scss';

.notifies {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(20%);
  &-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 12px;
    padding: 0px 8px 8px;
    height: 100px;
    width: 200px;
    border-left: solid $--color-primary 4px;
    border-bottom: solid transparent 4px;
    border-top: solid transparent 4px;
    border-right: solid transparent 4px;
    h1 {
      font-size: 1.2em;
    }
    span {
      margin-top: 4px;
      font-size: 1em;
    }
  }
}
